<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Vasu">
  <test thread-count="5" name="Vamsi">
    <classes>
      
      <class name="com.vasu.testng.EmpAdd"/>
      <class name="com.vasu.testng.EmpList"/>
      
          
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
